html {
  width: 100vw;
}
body {
  display: flex;
  flex-direction: column;
}
table.container  {
  
}
h2.headerTitle {
  text-align: center;
}
h6 {
  text-align: center;
}
div.controls  {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}
div.controls > button {
  margin: 0px 10px;
}
td.wrapper {
  word-break: break-all;
  min-width: 50px;
}
table#mockDataTable {
  width: 80%;
  margin: 10px auto;
}